.alert-box-icon img {
    display: inline-block;
    margin-right: 0px;
    margin-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
    width: 34px;
}

.alert-box-number {
    display: block;
    color: #bfbfbf;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    max-height: 20px;
    margin-bottom: 5px;
}

.alert-box-text {
    display: block;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    text-overflow: hidden;
    width: 100%;
    max-height: 26px;
}

.alert-box {
    border: 1px solid;
}