<div class="row">
  <div class="col-md-2 alert-box" id="alert1">
    <div class=" alert-box-icon">
      <img src="assets/img/icons/down_arrow_gray.png"/>
    </div>
    <div class="col-md-10 alert-box-content">
      <span class="alert-box-number" id="alertvalue0">10000</span>
      <span class="alert-box-text" id="alertname0">Panadol</span>
    </div>
  </div>
  <div class="col-md-2 alert-box" id="alert2">
    <div class="col-md-2 alert-box-icon">
      <img src="assets/img/icons/check_mark_grey.png"/>
    </div>
    <div class="col-md-10">
      <span class="alert-box-number" id="alertvalue2"></span>
      <span class="alert-box-text" id="alertname2"></span>
    </div>
  </div>
  <div class="col-md-2 alert-box" id="div">
    <div class="menu-icon"><img src="assets/img/icons/System sub-domain.png"/></div>
  </div>
  <div class="col-md-2 alert-box" id="alert3">
    <div class="col-md-2 alert-box-icon">
      <img src="assets/img/icons/up_arrow_grey.png"/>
    </div>
    <div class="col-md-10">
      <span class="alert-box-number" id="alertvalue3"></span>
      <span class="alert-box-text" id="alertname3"></span>
    </div>
  </div>
  <div class="col-md-2 alert-box" id="alert4">
    <div class="col-md-2 alert-box-icon">
      <img src="assets/img/icons/up_arrow_red.png"/>
    </div>
    <div class="col-md-10">
      <span class="alert-box-number" id="alertvalue4"></span>
      <span class="alert-box-text" id="alertname4"></span>
    </div>
  </div>
  <div class="col-md-2 alert-box" id="alert5">
    <div class="col-md-2 alert-box-icon">
      <img src="assets/img/icons/check_mark_grey.png"/>
    </div>
    <div class="col-md-10 alert-box-content">
      <span class="alert-box-number" id="alertvalue5"></span>
      <span class="alert-box-text" id="alertname5"></span>
    </div>
  </div>
</div>
